/*General Styles*/

body {
	margin: 0;
	padding: 0;
	width: 80%;
	margin-left: 20%;
}

section {
	border-top: 4px solid #00ace6;
}

button {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 1.5rem;
	padding: 1rem 1rem 1rem 1rem;
	background-color: #ffffff;
	color: #00ace6;
	cursor: pointer;
}

article.contract {
	background-color: #00bcf6;
	overflow: auto;
}

article.contract img {
	width: 25%;
	float: left;
	display: inline-block;
}

article.contract p {
	margin-left: 5%;
	float: left;
	
}

article.contract div.detail_info {
	margin-left: 5%;
	float: left;
	
}

article.contract button {
	margin: 0;
	margin-top: 2rem;
	margin-right: 2rem;
	float: right;
}