/*General Styles*/

section {
	border-top: 4px solid #00ace6;
}
/*
button {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 1.5rem;
	padding: 1rem 1rem 1rem 1rem;
	background-color: #ffffff;
	color: #00ace6;
	cursor: pointer;
}
*/

button#search_contracts {
	display: block;
	margin: auto;
}

article.contract {
	margin-top: 5%;
	height: 300px;
	background-color: #0059b3;
	color: white;
	overflow: auto;
}

article.contract img {
	margin-top: 3%;
	width: 25%;
	min-width: 200px;
	float: left;
	display: inline-block;
}

article.contract p {
	margin-top: 50px;
	margin-left: 5%;
	float: left;
	
}

article.contract p span {
	display: block;
	font-size: 18pt;
}

article.contract div.detail_info {
	font-size: 14pt;
	margin-top: 5%;
	margin-left: 5%;
	float: left;
	
}

article.contract button {
	margin: 0;
	margin-top: 2rem;
	margin-right: 2rem;
	float: right;
}