body {
	background: rgba(4, 40, 68, 0.85);
}

/* Parameters and settings for various screen sizes */
@media screen and (min-width: 320px) and (min-height: 480px)
{

    .main_headline{
    	font-size: 22px;
	}

	.carousel-caption {
	    margin-bottom: 0%;
	}

	.hyperlink {
	    margin-bottom: 1%;
	}
}

@media screen and (min-width: 480px) and (min-height: 320px)
{ 

    .main_headline{
    	font-size: 26px;
	}

	.carousel-caption {
	    margin-bottom: 5%;
	}

	.hyperlink {
	    margin-bottom: 1%;
	}
}

@media screen and (min-width: 500px) and (min-height: 500px)
{

    .main_headline{
    	font-size: 30px;
	}

	.carousel-caption {
	    margin-bottom: 15%;
	}

	.hyperlink {
	    margin-bottom: 1%;
	}
}



@media screen and (min-width: 768px) and (min-height: 1024px)
{

    .main_headline{
    	font-size: 50px;
	}

	.carousel-caption {
	    margin-bottom: 30%;
	}

	.hyperlink {
	    margin-bottom: 1%;
	}
}

@media screen and (min-width: 1024px) and (min-height: 768px)
{ 

    .main_headline{
    	font-size: 50px;
	}

	.carousel-caption {
	    margin-bottom: 30%;
	}

	.hyperlink {
	    margin-bottom: 1%;
	}
}

@media screen and (min-width: 1280px) and (min-height: 980px)
{

    .main_headline{
    	font-size: 50px;
	}

	.carousel-caption {
	    margin-bottom: 30%;
	}

	.hyperlink {
	    margin-bottom: 1%;
	}

}